
#divider{
    height: 10px;
    background: purple;
    position: absolute;
    left: 10px;
    top: 15px;
    right: 10px;
}

#divider1{
    height: 10px;
    background: purple;
    position: absolute;
    left: 10px;
    top: 475px;
    right: 10px;
}

#banner{
    top: 25px;
    position: absolute;
    left: 10px;
    right: 10px;
    height: 450px;
    width: 1883px;
}

#logo {
    width: 600px;
    height: 90px;
    position: relative;
    top: 30px;
    left: 20px;
}

h1 {
    position: relative;
    color: purple;
    font-family: Tahoma;
    font-size: 45px;
    letter-spacing: 2px;
    left: 800px;
    top: 280px;
    text-shadow:
            -2px -2px 0 white,
            2px -2px 0 white,
            -2px 2px 0 white,
            2px 2px 0 white;
}

#sidebarnav {
    position: absolute;
    top: 500px;
    left: 10px;
    width: 400px;
    height: 500px;
    background: linear-gradient(135deg,dimgrey, lightgrey);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sidebutton1{
    position: absolute;
    width: 20px;
    height: 50px;
    top: 520px;
    left: 20px;
    background: linear-gradient(to bottom right,seagreen,lightseagreen);
    border-style: solid;
    border-width: 0.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sidebutton2{
    position: absolute;
    width: 20px;
    height: 50px;
    top: 590px;
    left: 20px;
    background: linear-gradient(to bottom right,darkblue,blue);
    border-style: solid;
    border-width: 0.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sidebutton3{
    position: absolute;
    width: 20px;
    height: 50px;
    top: 660px;
    left: 20px;
    background: linear-gradient(to bottom right,darkslategrey,lightslategrey);
    border-style: solid;
    border-width: 0.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sidebutton4{
    position: absolute;
    width: 20px;
    height: 50px;
    top: 730px;
    left: 20px;
    background: linear-gradient(to bottom right,darkorange,orange);
    border-style: solid;
    border-width: 0.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sidebutton5{
    position: absolute;
    width: 20px;
    height: 50px;
    top: 800px;
    left: 20px;
    background: linear-gradient(to bottom right,purple,mediumpurple);
    border-style: solid;
    border-width: 0.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sidebutton6{
    position: absolute;
    width: 20px;
    height: 50px;
    top: 870px;
    left: 20px;
    background: linear-gradient(to bottom right,green,limegreen);
    border-style: solid;
    border-width: 0.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2{
    top: 300px;
    left: 50px;
    position: relative;
    color: purple;
    font-family: Tahoma;
    margin-bottom: 41px;
}

a:link    {
    color: purple; background-color:transparent; text-decoration:none;}
a:visited {
    color: purple; background-color:transparent; text-decoration:none;}
a:hover   {
    color: purple; background-color:transparent; text-decoration:none; text-shadow: 0px 0px 5px white;}
a:active  {
    color: purple; background-color:transparent; text-decoration:none;}